<div class="navigation-menu-wrapper">
  <ul class="navigation-menu">
    <li class="menu-item level-1">
      <button aria-controls="navigation-sidebar" aria-expanded="true" class="navigation-link navigation-link--has-icon navigation-link--sidebar-toggle sidebar-toggle">
        {# @todo refactor ID out this <span>. #}
        <span id="sidebar-state">{{ 'Collapse sidebar'|t }}</span>
      </button>
    </li>
    {% if help_enabled %}
    <li class="menu-item level-1">
      <a href="{{ path('help.main') }}" class="navigation-link navigation-link--has-icon navigation-link--help">
        <span>{{ 'Help'|t }}</span>
      </a>
    </li>
    {% endif %}
    <li class="navigation-menu__user menu-item menu-item--has-dropdown level-1">
      <button class="navigation-link navigation-link--has-icon navigation-link--{{ menu_name|clean_class }}">
        <span class="action">{{ 'Extend'|t }}</span>
        <span class="label">{{ title }}</span>
      </button>
      <div class="navigation-menu-wrapper">
        <div class="arrow-ref"></div>
        <ul class="navigation-menu">
          {% for item in items %}
            <li class="menu-item level-2">
              <a href="{{ item.url }}" class="navigation-link">
                <span>{{ item.title }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </li>
</div>
